@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
}

:root {
  /* Warna Utama (Kuning) */
  --color-primary: #FACC15; 
  --color-primary-foreground: #000000;
  
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #f3f4f6; /* Latar belakang abu-abu */
  color: var(--foreground);
  font-family: var(--font-sans);
  
  /* PENTING: Hapus max-width dan margin di sini */
  /* Agar Admin Panel bisa lebar penuh ke samping */
  min-height: 100vh;
}

/* Utilitas tambahan jika diperlukan */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* Sembunyikan Scrollbar tapi tetap bisa scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}